[submodule "packages/fuel-connector/sway/redstone-fuel-sdk"]
	path = packages/fuel-connector/sway/redstone-fuel-sdk
	url = https://github.com/redstone-finance/redstone-fuel-sdk.git
	branch = sway-0.62.1
